@import 'variables';

$states: ('hover', 'active', 'focus', 'focus-in');

// Foreground color
@each $name, $list in $color-list-all {
  @each $scale, $color in $list {
    @if $scale == 'base' {
      .fg-#{$name} {
        color: $color;
      }
      @each $state in $states {
        .#{$state}\:fg-#{$name}:#{$state} {
          color: $color;
        }
      }
    } @else {
      .fg-#{$name}-#{$scale} {
        color: $color;
      }
      @each $state in $states {
        .#{$state}\:fg-#{$name}-#{$scale}:#{$state} {
          color: $color;
        }
      }
    }
  }
}

// Background colot
@each $name, $list in $color-list-all {
  @each $scale, $color in $list {
    @if $scale == 'base' {
      .bg-#{$name} {
        background-color: $color;
      }
      @each $state in $states {
        .#{$state}\:bg-#{$name}:#{$state} {
          background-color: $color;
        }
      }
    } @else {
      .bg-#{$name}-#{$scale} {
        background-color: $color;
      }
      @each $state in $states {
        .#{$state}\:bg-#{$name}-#{$scale}:#{$state} {
          background-color: $color;
        }
      }
    }
  }
}

// Border-color
@each $name, $list in $color-list-all {
  @each $scale, $color in $list {
    @if $scale == 'base' {
      .bo-#{$name} {
        border-color: $color;
      }
    } @else {
      .bo-#{$name}-#{$scale} {
        border-color: $color;
      }
    }
  }
}
